[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apachelogs = "==0.6.0"
attrs = "==22.1.0"
autopep8 = "==2.0.0"
kafka-python = "==2.0.2"
pycodestyle = "==2.10.0"
pydicti = "==1.1.6"
python-dateutil = "==2.8.2"
python-dotenv = "==0.21.0"
six = "==1.16.0"
tomli = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
consumer-up = "python consumer.py"
producer-up = "python producer.py"

